absl_py==1.4.0
accelerate==0.18.0
gin_config==0.5.0
gridencoder==0.0.0
imageio==2.27.0
matplotlib==3.7.1
mediapy==1.1.6
numpy==1.24.2
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
Pillow==9.5.0
Pillow==9.5.0
plyfile==0.9
rawpy==0.18.0
scipy==1.9.1
setuptools==66.0.0
skimage==0.0
tensorboardX==2.6
tensorboardX==2.6
torch==2.0.0
torch_scatter==2.1.1
tqdm==4.65.0
